In [12]:
import numpy as np
import pandas as pd
import statsmodels
from statsmodels.tsa.stattools import coint
import seaborn
import matplotlib.pyplot as plt
from pandas_datareader import data as web
from datetime import datetime, timedelta

In [13]:
tickers = [
           'PLZL.ME', 'DPM.TO', 'RMS.AX', 'CG.TO', '2899.HK', 'BTG', 'EGO', 'GOR.AX', 'NCM.AX', 'WDO.TO', 'POLY.L', 
           'EQX.TO', 'CEY.L', 'PVG', 'SBM.AX', 'BVN', 'PRU.AX', 'NST.AX', 'EDV.TO', 'LUN.TO', 'RRL.AX', 'POG.L', 'KGC', 'GFI', 'TGZ.TO', 'CDE', 
           'TXG.TO', 'DRD', 'NG', 'AU', 'GOLD', 'EVN.AX', 'NEM', 'SAR.AX', 'AUY', 'AEM', 'WPM', 'IAG', 'SSRM', 'OGC.TO', 'AGI', 'NGD', 'HMY', 'SAND', 'SBSW', 'FNV', 'RGLD', 'OR', 'SA', 'ANTM.JK'
           ]
#benchmark = 'DX=F' #(Dollar index)
benchmark = 'GC=F' #(Index SP500)
industry_mark = 'GDX'
ATR_PERIOD = 12
start_date = datetime(2015, 1, 1)
#end_date = datetime(2021, 5, 1)
end_date = datetime.today()

interval = 'd'

ticker1 = ['NEM']
ticker2 = ['GOLD']

tickers = ['NEM', 'GOLD']

In [14]:
#df = pd.DataFrame()
#df['close1'] = c
#df['close2'] = web.get_data_yahoo(ticker2, start=start_date, end=end_date, interval=interval)['Close']

df = web.get_data_yahoo(tickers, start=start_date, end=end_date, interval=interval)['Close']

In [15]:
df.tail()

Symbols           NEM       GOLD
Date
2021-05-06  66.889999  23.549999
2021-05-07  67.330002  23.920000
2021-05-10  68.349998  23.930000
2021-05-11  68.779999  23.950001
2021-05-12  67.860001  23.530001

In [29]:
df['Diff1'] = df[ticker1].pct_change()
df['Diff2'] = df[ticker2].pct_change()
df = df.dropna()
df = df.reset_index()
df

<ipython-input-29-1f5c14790a33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Diff1'] = df[ticker1].pct_change()
<ipython-input-29-1f5c14790a33>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Diff2'] = df[ticker2].pct_change()

Symbols       Date        NEM       GOLD     Diff1     Diff2
0       2015-01-07  20.090000  11.120000 -0.008880 -0.013310
1       2015-01-08  19.980000  10.810000 -0.005475 -0.027878
2       2015-01-09  20.719999  10.990000  0.037037  0.016651
3       2015-01-12  21.190001  11.330000  0.022683  0.030937
4       2015-01-13  20.360001  10.680000 -0.039169 -0.057370
...            ...        ...        ...       ...       ...
1593    2021-05-06  66.889999  23.549999  0.031616  0.058427
1594    2021-05-07  67.330002  23.920000  0.006578  0.015711
1595    2021-05-10  68.349998  23.930000  0.015149  0.000418
1596    2021-05-11  68.779999  23.950001  0.006291  0.000836
1597    2021-05-12  67.860001  23.530001 -0.013376 -0.017537

[1598 rows x 5 columns]

In [23]:
from statsmodels.tsa.vector_ar.vecm import coint_johansen

In [30]:
X = df[['Diff1', 'Diff2']]

In [31]:
X.head()

Symbols     Diff1     Diff2
0       -0.008880 -0.013310
1       -0.005475 -0.027878
2        0.037037  0.016651
3        0.022683  0.030937
4       -0.039169 -0.057370

In [32]:
jres = coint_johansen(X, det_order=0, k_ar_diff=1)

In [33]:
jres.cvm

array([[12.2971, 14.2639, 18.52  ],
       [ 2.7055,  3.8415,  6.6349]])

In [35]:
X = df['Diff1']
Y = df['Diff2']

In [36]:
score, p_value, _ = coint(X, Y)

In [37]:
print(score, p_value)

-11.957492969038848 4.794412280129081e-21

In [38]:
corr = X.corr(Y)
print('p-value: %.4f'%p_value, 'correlation: %s'%corr)

p-value: 0.0000 correlation: 0.8181742988734113